html {
  margin: 0;
}

body {
  background: #232629;
  color: #fcfcfc;
  letter-spacing: 0.05em;
}

a {
  color: #ea5fea;
}

h1, h2 {
  clear: left;
  line-height: 1.5;
  margin: 15px 0 10px;
  padding: 0 0 0 15px;
  border-left: 6px solid #f976de;
  font-weight: bold;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 166%;
}

code {
  background: #e68be6;
  padding: 1px;
  border-radius: 4px;
  border: 1px #fcfcfc solid;
  margin: 4px;
  color: #232629;
  line-height: 2.5;
}

.newsArticle {
  width: calc(100% - 20px);
  max-width: 1200px;
  background: #31363b;
  border: 2px solid #4d4d4d;
  border-radius: 10px;
  margin: auto;
  padding: 8px;
}

.newsTable, .NEWS_pickupNewsBox__contentsArea {
  width: calc(100% - 20px);
  max-width: 1200px;
  background: #462146;
  border: 2px solid #f976de;
  border-radius: 4px;
  margin: 20px auto;
}

.NEWS_pickupNewsBox__contentsArea {
  background: #58224d;
}

.NEWS_pickupNewsBox__contentsArea, .NEWS_pickupNewsItem {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 8px;
}

.NEWS_pickupNewsTitle, .NEWS_pickupNewsAuthor {
  display: inline-grid;
}

.NEWS_pickupNewsTitle__body, .NEWS_pickupNewsAuthor, tr > td.newsTitle > p {
  margin: 2px;
}

.NEWS_pickupNewsBox__contentsArea > div {
  background: #462146;
}

.odd {
  background: #3c213c;
}

.LEGACY_UI2016_subCategoryNavi > p > a, .pageList01 > div > ul > li {
  background-color: #4d4d4d;
  padding: 4px;
  border: 1px solid #c625ef;
  border-radius: 2px;
  text-decoration: none;
}

.pageList01 > div > ul {
  padding-left: unset;
}

.pageList01 > div > ul, .pageList01 > div > ul > li, .entryList01, .entryList01 > li, .NEWS_pickupNewsList {
  display: inline;
}

.newsCategoryList {
  list-style: none;
}

.NEWS_tempPhoto {
  text-align: center;
}

.NEWS_tempPhoto__picture {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 3px;
}

.NEWS_tempPhoto__captionText {
  color: #ccc;
  text-align: center;
  font-size: 86%;
}

.footer {
  text-align: center;
  margin-top: 32px;
}
