html {
  margin: 0;
}

body {
  background: #232629;
  color: #fcfcfc;
  letter-spacing: 0.05em;
}

a {
  color: #ea5fea;
  text-decoration: none;
}

h1, h2 {
  clear: left;
  line-height: 1.5;
  margin: 15px 0 10px;
  padding: 0 0 0 15px;
  border-left: 6px solid #f976de;
  font-weight: bold;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 166%;
}

code {
  background: #e68be6;
  padding: 1px;
  border-radius: 4px;
  border: 1px #fcfcfc solid;
  margin: 4px;
  color: #232629;
  line-height: 2.5;
}

.article > img {
  max-width: 100%;
  width: auto;
}

.reactionCountBalloon, .totop, p.reactions, a.tubuyaki-btn {
  border: 1px solid #f976de;
  border-radius: 2px;
  background-color: #232629;
}

.reactionCountBalloon {
  margin-left: 8px;
  font-size: 60%;
  padding: 0 12px;
}

.totop, p.reactions {
  padding: 4px;
}

p.reactions {
  font-size: 80%;
  max-width: 50px;
  text-align: center;
}

.newsArticle {
  width: calc(100% - 20px);
  max-width: 1200px;
  background: #31363b;
  border: 2px solid #4d4d4d;
  border-radius: 10px;
  margin: 32px auto;
  padding: 8px;
}

.newsTable, .NEWS_pickupNewsBox__contentsArea {
  width: calc(100% - 20px);
  max-width: 1200px;
  background: #462146;
  border: 2px solid #f976de;
  border-radius: 4px;
  margin: 20px auto;
}

.NEWS_pickupNewsBox__contentsArea {
  background: #58224d;
}

.NEWS_pickupNewsBox__contentsArea, .NEWS_pickupNewsItem {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 8px;
}

.NEWS_pickupNewsTitle, .NEWS_pickupNewsAuthor {
  display: inline-grid;
}

.NEWS_pickupNewsTitle__body, .NEWS_pickupNewsAuthor, tr > td.newsTitle > p {
  margin: 2px;
}

.NEWS_pickupNewsBox__contentsArea > div {
  background: #462146;
}

.odd {
  background: #3c213c;
}

.LEGACY_UI2016_subCategoryNavi > p > a, .pageList01 > div > ul > li,
.pageList01 > ul > li, .pageNavigation02 > p.first,
.pageNavigation02 > p.last, ul.sortTab > li,
.pageList02 > ul > li {
  background-color: #4d4d4d;
  padding: 4px;
  border: 1px solid #c625ef;
  border-radius: 2px;
  text-decoration: none;
}

.pageList01 > div > ul > li:not([class]):hover,
.pageList01 > ul > li:hover,
ul.sortTab > li:hover,
.pageList02 > ul > li[rel="__prev"]:hover,
.pageList02 > ul > li[rel="__next"]:hover,
li.NEWS_pickupNewsItem:hover,
p.NEWS_pickupItems__moreLink:hover,
li.newCategoryList > a:hover,
.photoNewsArea > a:hover,
.NEWS_photoNewsItems__contentsArea:hover,
a.tubuyaki-btn:hover,
p.first:hover, p.last:hover,
tr.odd:hover, tr.even:hover, .totop:hover {
  background-color: #ae6bdb;
}

.pageNavigation02 > p, .pageList01 > ul > li, .pageList02 > ul > li {
  padding: 8px !important;
}

.pageNavigation02 > p.none, .pageList01 > ul > li.on, ul.sortTab > li.current,
ul.sortTab > li.current > a {
  background-color: #232629;
  color: #4d4d4d;
  border-color: #4d4d4d;
}

.pageList01 > div > ul, .pageList01 > ul, .pageNavigation02 > p.first,
.pageNavigation02 > p.last, ul.sortTab, .pageList02 > ul > li {
  padding-left: unset;
}

.pageList01 > div > ul,
.pageList01 > div > ul > li,
.pageList01 > ul > li,
.pageList02 > ul > li,
.entryList01, .entryList01 > li,
.NEWS_pickupNewsList,
.pageNavigation02 > p.first,
.pageNavigation02 > p.last,
ul.sortTab > li,
ul.voiceList01 .attributes li,
ul.listAction,
h2.newsTitle {
  display: inline;
}

.pageList02 {
  text-align: center;
  padding-top: 8px;
}

.relationNewsDescription {
  margin-top: 18px;
}

.relationNewsDescription > p.date {
  border-left: 3px solid #f976de;
  padding: 0 0 0 8px;
}

ul.voiceList01 {
  padding-left: 0;
}

.pageNavigation02 {
  display: ruby;
}

.newsCategoryList, .timestamp, .iine, .comment, .item {
  list-style: none;
}

.itemIn > .clearfix {
  display: flex;
}

ul.voiceList01 > li.item {
  background-color: #2f2e2f;
  border: 1px dashed #4d4d4d;
  margin: 8px 0;
  padding: 4px;
}

ul.attributes, ul.listAction {
  font-size: 80%;
  color: #adadad;
}

ul.attributes {
  position: absolute;
  white-space: nowrap;
}

ul.listAction {
  clear: both;
  width: 100%;
  margin-top: 5px;
  margin-left: 4px;
  text-align: right;
}

ul.voiceList01 ul.listAction li {
  margin-left: 10px;
  font-size: 100%;
  display: initial;
}

.NEWS_tempPhoto {
  text-align: center;
}

.NEWS_tempPhoto__picture {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 3px;
}

.NEWS_tempPhoto__captionText {
  color: #ccc;
  text-align: center;
  font-size: 86%;
}

.footer {
  text-align: center;
  margin-top: 32px;
}

li.iine > img, li.comment > img {
  margin-right: 8px;
}

a.tubuyaki-btn {
  display: inline-table;
  padding: 24px;
}

.nextArticle > a.tubuyaki-btn {
  text-align: center;
}
