{{template "header" .}}
    <div class="newsArticle">
      <div class="newsCategoryList">
        <div class="heading08">
          <h1>ニュースカテゴリ一覧</h1>
        </div>
        <ul class="newsCategoryList">
          <li class="newCategoryList"><a href="/list_news_category.pl?id=7">エンタメ</a></li>
          <li class="newCategoryList"><a href="/list_news_category.pl?id=3">トレンド</a></li>
          <li class="newCategoryList"><a href="/list_news_category.pl?id=1">社会</a></li>
          <li class="newCategoryList"><a href="/list_news_category.pl?id=4">地域</a></li>
          <li class="newCategoryList"><a href="/list_news_category.pl?id=9">ゲーム・アニメ</a></li>
          <li class="newCategoryList"><a href="/list_news_category.pl?id=8">IT・インターネット</a></li>
          <li class="newCategoryList"><a href="/list_news_category.pl?id=6">スポーツ</a></li>
          <li class="newCategoryList"><a href="/list_news_category.pl?id=5">海外</a></li>
          <li class="newCategoryList"><a href="/list_news_category.pl?id=10">コラム</a></li>
          <li class="newCategoryList"><a href="/list_news_category.pl?id=2">ライフスタイル</a></li>
        </ul>
      </div>
    </div>
{{template "footer" .}}
